  <table>
    <thead>
      <tr>
        <td class="text-left"><strong>Artistname:</strong></td>
      </tr>
    </thead>
      <% artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.name, artist_path(artist.id) %>
          <% artist.photos.each do |photo| %>
          <td><%= image_tag photo.image_url %> </td>
        </td>
      </tr>
      <% end %>
        <% end %>
  </table>
